<h2>Signup as a New Climber</h2>
<%= form_for @climber do |f| %>
  <%= f.label :name, "Name" %>
  <%= f.text_field :name %>
  <%= f.label :name, "Username" %>
  <%= f.text_field :username %>
  <%= f.label :name, "Password" %>
  <%= f.password_field :password %>
  <%= f.submit %>
<% end %>
